$bg-color: #e0f2f182;
$header-logout-color: #2196f3;
$header-background-color: #fafafa;
$header-upload-background-button-color:white;
$header-upload-button-color:gray;
$details-background-color: #fafafa;
$header-listitem-color: black;
$hover-color: rgba(37, 37, 219, 0.815);
$details-text-color: #80808021;
