@import "base/config";
.body {
  background-color: $bg-color;
  overflow: hidden;
}

.header {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: stretch;
  margin: 59px 10px 0px 151px;
  background-color: $header-background-color;
  width: 84%;
  height: 250px;
}

.header__img {
  width: 170px;
  height: 168px;
  object-fit: none;
  object-position: 72% 0;
  margin-top: 5px;
  margin-left: 18px;
}

.header__details {
  padding: 20px;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: medium;
  width: 17%;
  margin-top: 60px;
  margin-left: 6px;
}

.header__list {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  margin-left: -11px;
  padding: 8px;
  font-weight: normal;
  font-family: auto;
}

.header__icon {
  width: 15px;
  height: 15px;
}

.header__upload {
  margin-left: auto;
  width: 29em;
  margin-bottom: 166px;
  margin-top: 22px;
}

.header__upload__btn {
  color: $header-upload-button-color;
  background-color: $header-upload-background-button-color;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

.header__upload input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.header__list__item {
  padding: 8px;
  color: $header-listitem-color;
  text-decoration: none;
  padding-bottom: 25px;
}

.header__list__item.clicked {
  margin-top: 10px;
  border-bottom: 2px solid $header-logout-color;
}

.header__stats {
  display: flex;
  align-items: flex-end;
  width: 169px;
  justify-content: flex-end;
  margin-top: 80px;
  position: fixed;
  margin-left: 1011px;
}

.header__logout__button {
  border: 2px solid $header-logout-color;
  padding: 8px 5px;
  width: 92px;
  height: 34px;
  border-radius: 4px;
  color: $header-logout-color;
  font-size: 11px;
  font-weight: bold;
  margin-left: 84px;
  margin-top: -114px;
  position: fixed;
}

.header__stars {
  display: inline-block;
}

.header__stars__empty {
  display: inline-block;
}

.header__details__line {
  width: 495%;
  padding: 0px;
  margin: -12px 0px 10px -26px;
}

.review__text {
  padding: 2px;
  margin-right: 13px;
  margin-left: 19px;
  word-spacing: 10px;
}

.details {
  margin-top: 32px;
  padding: 10px;
  display: flex;
  flex: auto;
  align-items: center;
  background-color: $details-background-color;
  height: 250px;
  margin-left: 150px;
  margin-right: 77px;
}

.details__header {
  margin-top: -176px;
}

.details__body {
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1px;
  margin-left: -60px;
}

.details__body__text{
  background-color:  $details-text-color;
}

.header__icon__popup{
  padding: 5px;
}

.header__icon__popup:hover{
  background-color: $hover-color;
}

